*.zip filter=lfs diff=lfs merge=lfs -text
20260615_42_cowc_base.zip filter=lfs diff=lfs merge=lfs -text
packaged_data/*.zip filter=lfs diff=lfs merge=lfs -text
data/*.zip filter=lfs diff=lfs merge=lfs -text
